.idea
*~
*.tmp
# automake
autoscan.log
configure.scan
autom4te.cache
*.log

config.status

# configure
Makefile
config.h
.deps/
stamp-h1
.dirstamp

#make
storectl
stored
*.o

#gcc
a.out
*.gch

#tests
*_test
*.trs