[Unit]
Description=Stored Daemon
Documentation=https://aaugustyniak.pl/stored

[Service]
Type=notify
ExecStart=/usr/local/sbin/stored

[Install]
WantedBy=multi-user.target