[Unit]
Description=Stored Daemon
Documentation=https://aaugustyniak.pl/stored

[Service]
Type=notify
ExecStart=/sbin/stored -f /etc/stored.cfg

[Install]
WantedBy=multi-user.target